# Create a melt rate dataset

Melt rates are based on Paolo et al., 2023, representing 1992 to 2017 averages.
Uncertainties are based on Adusumilli error estimates as Paolo estimates appear too small.

Output:
- 2D 8km melt rates, and error NetCDF file
- Melt rates and errors aggregated in IMBIE basins

In [1]:
import xarray as xr
import os
import glob
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt

# Load data

In [2]:
# basins for comparison

data_path = '/media/NAS2/ISMIP7/'

# basin file to optimise deltaT
basins = xr.load_dataset(data_path+"imbie2_basins_for_ISMIP7/basinNumbers_8km.nc")
basins = basins.rename({'basinNumber':'basins'})

# present-day melting, these datasets have been remapped to the 8km grid using nearest neighbor interpolation 
# and the pism-ais toolbox avaialble through github: https://github.com/pism/pism-ais.git
melt_paolo = xr.load_dataset(data_path+"Melt_Rate_Observations/paolo_initmip8km.nc")
melt_adusumilli = xr.load_dataset(data_path+"Melt_Rate_Observations/adusumilli_initmip8km.nc")


ice_density_adusumilli = 917. # kg/m3 see caption of Fig 1 in Adusumilli et al., 2020
ice_density_paolo = 917. # kg/m3 see Paolo et al., 2023

# Create combined dataset - melt paolo, error as max from paolo and adusumilli

In [3]:
melt_data = melt_paolo.copy(deep=True)

In [4]:
melt_data['melt_mean'] = melt_data['melt_mean']*-1*ice_density_adusumilli
melt_data['melt_mean_err'] = np.maximum(melt_adusumilli['w_b_uncert']*ice_density_adusumilli, 
                                        melt_paolo['melt_mean_err']*ice_density_paolo )

melt_data['melt_mean'].attrs['units'] = 'kg/m2/a'
melt_data['melt_mean_err'].attrs['units'] = 'kg/m2/a'

In [5]:
# Create NetCDF dataset and save
melt_data.to_netcdf(data_path+'/share_with_modellers/meltmip/melt_paolo_err_adusumilli_ismip8km.nc')

# Get data for evaluation of basins from Table

In [10]:
!pip install openpyxl
!pip list | grep openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]━━ 1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
openpyxl                       3.1.5

In [35]:
# Load data 
# This file can be downloaded from Paolo et al., 2023
ice_density_paolo = 917. # see Paolo et al 2023

xl = pd.ExcelFile(data_path+'Melt_Rate_Observations/Paolo23/tc-17-3409-2023-t03.xlsx')
df = xl.parse("Worksheet 1",header=0, usecols=[0,1,3])
df = df.drop(index=0).reset_index(drop=True)

ice_shelf_name = df['Ice shelf']
area = df['Area']# km2
bmr_with_uncert = df['Basal melt rate'] # m/a

In [40]:
bmr = np.zeros_like(bmr_with_uncert)
bmr_err = np.zeros_like(bmr_with_uncert)
areaf = np.zeros_like(bmr_with_uncert)

for i in range(len(df.index)):
    #print(bmr_with_uncert[i].split())
    bmr[i] = float(bmr_with_uncert[i].replace("−", "-").split()[0])
    bmr_err[i] = float(bmr_with_uncert[i].split()[2])
    tmp = str(area[i])
    #print(tmp)
    areaf[i] = float(tmp.replace(' ', ''))
    #print(areaf[i])

df['Melt rate'] = bmr*ice_density_paolo # convert to kg/m2/a
df['Melt rate error'] = bmr_err*ice_density_paolo   # convert to kg/m2/a
df['Area'] = areaf

In [41]:
# Since there are no lat/lon values, we match to Rignot data

xl = pd.ExcelFile(data_path+'Melt_Rate_Observations/Rignot12/Rignot12_TableS1_formatted.xlsx')
dfr = xl.parse("Sheet1")
ice_shelf_nameR = dfr['Ice Shelf Name']
latR = dfr['Lat (o)']
lonR = dfr['Lon (o)']

In [42]:
lats = np.zeros_like(bmr)
lons = np.zeros_like(bmr)

for i in range(len(df.index)):
    name = df['Ice shelf'][i]
    #print(name)
    idx = (ice_shelf_nameR==name).idxmax()
    #print(idx, ice_shelf_nameR[idx])
    lats[i] = latR[idx]
    lons[i] = lonR[idx]

df['lat'] = lats
df['lon'] = lons

In [46]:

bmrGt = df['Melt rate']*(df['Area']*1000**2)/1e12 # kg/m2/a * m2
bmrGt_err = df['Melt rate error']*(df['Area']*1000**2)/1e12 # kg/m2/a * m2


df['BMR'] = bmrGt
df['BMR err'] = bmrGt_err

In [47]:
# Manually fill gaps 
df.loc[14,'lat']  = df.loc[13,'lat'] 


df.loc[df["Ice shelf"] == 'Thwaites Calved', 'lat'] = df.loc[df["Ice shelf"] == 'Thwaites','lat'].values 
df.loc[df["Ice shelf"] == 'Thwaites Calved', 'lon'] = df.loc[df["Ice shelf"] == 'Thwaites','lon'].values 

df.loc[df["Ice shelf"] == 'Ross East', 'lat'] = df.loc[df["Ice shelf"] == 'Ross West','lat'].values 
df.loc[df["Ice shelf"] == 'Ross East', 'lon'] = df.loc[df["Ice shelf"] == 'Ross West','lon'].values 

df.loc[df["Ice shelf"] == 'Conger Glenzer', 'lat'] = dfr.loc[dfr["Ice Shelf Name"] == 'Conger/Glenzer','Lat (o)'].values 
df.loc[df["Ice shelf"] == 'Conger Glenzer', 'lon'] = dfr.loc[dfr["Ice Shelf Name"] == 'Conger/Glenzer','Lon (o)'].values 

df.loc[df["Ice shelf"] == 'Baudouin', 'lat'] = dfr.loc[dfr["Ice Shelf Name"] == 'Baudouin [9]','Lat (o)'].values 
df.loc[df["Ice shelf"] == 'Baudouin', 'lon'] = dfr.loc[dfr["Ice Shelf Name"] == 'Baudouin [9]','Lon (o)'].values 

df.loc[df["Ice shelf"] == 'Atka', 'lat'] = dfr.loc[dfr["Ice Shelf Name"] == 'Atka [8]','Lat (o)'].values 
df.loc[df["Ice shelf"] == 'Atka', 'lon'] = dfr.loc[dfr["Ice Shelf Name"] == 'Atka [8]','Lon (o)'].values 

df.loc[df["Ice shelf"] == 'Ekström', 'lat'] = dfr.loc[dfr["Ice Shelf Name"] == 'Ekstrom','Lat (o)'].values 
df.loc[df["Ice shelf"] == 'Ekström', 'lon'] = dfr.loc[dfr["Ice Shelf Name"] == 'Ekstrom','Lon (o)'].values 

df.loc[df["Ice shelf"] == 'Brunt Stancomb', 'lat'] = dfr.loc[dfr["Ice Shelf Name"] == 'Brunt/Stancomb','Lat (o)'].values 
df.loc[df["Ice shelf"] == 'Brunt Stancomb', 'lon'] = dfr.loc[dfr["Ice Shelf Name"] == 'Brunt/Stancomb','Lon (o)'].values 



df

,Ice shelf,Area,Basal melt rate,Melt rate,Melt rate error,lat,lon,BMR,BMR err
0,Ronne,327407.1,0.14 ± 0.20,128.38,183.4,-78.4469,-63.50714,42.032523,60.046462
1,Larsen E,1167.3,0.94 ± 0.51,861.98,467.67,-73.4015,-61.0849,1.006189,0.545911
2,Larsen D,22594.3,0.69 ± 0.20,632.73,183.4,-70.7032,-61.724,14.296091,4.143795
3,Larsen C,47443.5,0.54 ± 0.20,495.18,183.4,-67.4601,-62.72942,23.493072,8.701138
4,Larsen B,2151.1,0.06 ± 0.43,55.02,394.31,-65.547,-61.41953,0.118354,0.8482
5,George VI,23259.9,2.85 ± 0.24,2613.45,220.08,-72.346,-69.61707,60.788586,5.119039
6,Wilkins,12906.7,0.95 ± 0.28,871.15,256.76,-70.4869,-72.07288,11.243672,3.313924
7,Bach,4547.9,1.08 ± 0.29,990.36,265.93,-72.0424,-72.1,4.504058,1.209423
8,Stange,7930.0,2.86 ± 0.27,2622.62,247.59,-73.218,-76.67237,20.797377,1.963389
9,Venable,3155.0,4.04 ± 0.37,3704.68,339.29,-73.0893,-87.18664,11.688265,1.07046
10,Abbot,29351.7,1.85 ± 0.19,1696.45,174.23,-72.79,-96.37215,49.793691,5.113947
11,Cosgrove,2989.5,1.45 ± 0.21,1329.65,192.57,-73.5281,-100.4617,3.974989,0.575688
12,Pine Island,6120.3,18.35 ± 3.40,16826.95,3117.8,-74.9283,-100.72106,102.985982,19.081871
13,Thwaites,1772.0,5.57 ± 4.01,5107.69,3677.17,-75.0727,-106.40516,9.050827,6.515945
14,Thwaites Calved,3116.7,26.01 ± 8.52,23851.17,7812.84,-75.0727,-106.40516,74.336942,24.350278
15,Crosson,3331.2,10.11 ± 2.04,9270.87,1870.68,-74.9994,-110.36516,30.883122,6.231609
16,Dotson,5677.3,7.23 ± 0.96,6629.91,880.32,-74.6197,-112.75367,37.639988,4.997841
17,Getz,32783.5,3.95 ± 0.34,3622.15,311.78,-74.407,-124.378,118.746755,10.22124
18,Nickerson,6335.3,1.07 ± 0.24,981.19,220.08,-75.7965,-145.813,6.216133,1.394273
19,Sulzberger,11969.5,1.33 ± 0.21,1219.61,192.57,-77.0929,-148.896,14.598122,2.304967
20,Ross West,293551.9,0.05 ± 0.10,45.85,91.7,-80.8224,-167.916,13.459355,26.918709
21,Ross East,186876.5,0.07 ± 0.14,64.19,128.38,-80.8224,-167.916,11.995603,23.991205
22,Drygalski,2280.9,2.05 ± 0.64,1879.85,586.88,-75.3924,163.366,4.28775,1.338615
23,Nansen,1942.1,−0.14 ± 0.34,-128.38,311.78,-74.8539,163.247,-0.249327,0.605508
24,Mariner,2672.9,0.87 ± 0.22,797.79,201.74,-73.3196,168.083,2.132413,0.539231
25,Rennick,3276.5,1.76 ± 0.27,1613.92,247.59,-70.7274,161.783,5.288009,0.811229
26,Cook,3531.8,−0.15 ± 0.33,-137.55,302.61,-68.5572,152.738,-0.485799,1.068758
27,Ninnis,1929.0,−5.79 ± 0.69,-5309.43,632.73,-68.2597,147.538,-10.24189,1.220536
28,Mertz,5652.2,4.42 ± 0.32,4053.14,293.44,-67.2609,145.348,22.909158,1.658582
29,Dibble,1463.2,6.42 ± 0.35,5887.14,320.95,-66.24,134.738,8.614063,0.469614
30,Holmes,2366.4,3.07 ± 0.46,2815.19,421.82,-66.7803,127.223,6.661866,0.998195
31,Moscow University,5949.6,4.57 ± 0.35,4190.69,320.95,-67.013,120.274,24.932929,1.909524
32,Totten,6187.0,9.55 ± 0.75,8757.35,687.75,-67.0599,115.698,54.181724,4.255109
33,Conger Glenzer,1600.9,1.37 ± 0.36,1256.29,330.12,-65.7833,103.408,2.011195,0.528489
34,Tracy/Tremenchus,2941.0,1.00 ± 0.15,917.0,137.55,-65.8641,101.212,2.696897,0.404535
35,Shackleton,26927.9,1.24 ± 0.27,1137.08,247.59,-65.9841,97.5185,30.619177,6.667079
36,West,16082.7,0.76 ± 0.23,696.92,210.91,-66.9509,85.0021,11.208355,3.392002
37,Publications,1563.3,4.29 ± 1.06,3933.93,972.02,-69.7612,75.1599,6.149913,1.519559
38,Amery,60797.3,0.40 ± 0.24,366.8,220.08,-70.3799,70.426,22.30045,13.38027
39,Prince Harald,5455.0,0.66 ± 0.30,605.22,275.1,-69.3565,36.1917,3.301475,1.50067
40,Baudouin,33129.2,0.52 ± 0.11,476.84,100.87,-70.0565,28.8907,15.797328,3.341742
41,Borchgrevink,21615.6,0.28 ± 0.15,256.76,137.55,-70.2565,19.8111,5.550021,2.973226
42,Lazarev,8571.6,0.35 ± 0.12,320.95,110.04,-69.9283,14.469,2.751055,0.943219
43,Nivl,7321.5,0.30 ± 0.13,275.1,119.21,-70.2928,11.1084,2.014145,0.872796
44,Vigrid,2096.0,−0.03 ± 0.14,-27.51,128.38,-70.2371,8.37541,-0.057661,0.269084
45,Fimbul,40947.7,0.28 ± 0.16,256.76,146.72,-70.36,-0.43,10.513731,6.007847
46,Jelbart,10845.5,0.33 ± 0.19,302.61,174.23,-70.8801,-4.659,3.281957,1.889611
47,Atka,1993.7,0.98 ± 0.14,898.66,128.38,-70.6287,-6.884,1.791658,0.255951
48,Ekström,6870.8,0.61 ± 0.13,559.37,119.21,-71.0424,-8.62,3.843319,0.819068
49,Quar,2131.9,0.59 ± 0.15,541.03,137.55,-71.2274,-10.912,1.153422,0.293243
50,Riiser-Larsen,42913.1,0.43 ± 0.12,394.31,110.04,-73.1308,-16.479,16.921064,4.722158
51,Brunt Stancomb,36137.1,0.09 ± 0.61,82.53,559.37,-74.9317,-22.613,2.982395,20.21401
52,Filchner,99634.6,0.14 ± 0.20,128.38,183.4,-80.2842,-42.288,12.79109,18.272986
53,Amundsen,55790.5,7.38 ± 1.08,6767.46,990.36,,,377.559977,55.25268
54,Bellingshausen,81151.2,2.13 ± 0.22,1953.21,201.74,,,158.505335,16.371443
55,Antarctica,1541700.0,0.68 ± 0.18,623.56,165.06,,,961.342452,254.473002

In [48]:
# This function finds for a given lat and lon the basin id corresponding to these values

def basinNumberOfNearestNeighbor2(llon,llat):
        i_min = (np.sqrt((lat -llat)**2) + np.sqrt((lon -llon)**2)).argmin(dim=['x','y'])['x'].values
        j_min = (np.sqrt((lat -llat)**2) + np.sqrt((lon -llon)**2)).argmin(dim=['x','y'])['y'].values

        return basins['basins'][j_min,i_min].values

lon=melt_data['lon'] # does not matter which basins here, we just need lat/lon
lat=melt_data['lat']

lonP = df['lon']
latP = df['lat']


compute_basinID_for_shelves = 0

length = len(ice_shelf_name)
if compute_basinID_for_shelves == 1:
        #Load basins data, here: 5km adjusted Zwally basins 

        
        basin_shelf = np.zeros(length) + 100
        for i_shelf in range(length):
                print (i_shelf, ice_shelf_name[i_shelf])
                try:
                    basin_shelf[i_shelf] = basinNumberOfNearestNeighbor2(lonP[i_shelf], latP[i_shelf])
                    print (basin_shelf[i_shelf])
                except:
                    basin_shelf[i_shelf] = 100
                    print ('No basin, setting to nan')
        df['basin'] = basin_shelf
                    
        np.save(data_path+'Melt_Rate_Observations/Paolo23/BasinIds_ofShelves_imbie2', basin_shelf)

        # create a text file with ice_shelf names and basin numbers:
        file = open(data_path+'Melt_Rate_Observations/Paolo23/ShelvesAndBasins_imbie2.txt', 'w')
        for i in range(1,length):
                file.write(str(ice_shelf_name[i])+' '+str(basin_shelf[i])+'\n')
        file.close()
else:
        basin_shelf = np.load(data_path+'Melt_Rate_Observations/Paolo23/BasinIds_ofShelves_imbie2.npy')

In [49]:
PaoloData = pd.DataFrame(index=range(0,basins['basins'].max().values+1),columns =[ 'BMR (Gt/yr)', 'Area (km^2)', 
                                                      'BMR uncert (Gt/yr)', 'Average BMR (kg/m2/a)', 
                                                      'Average BMR uncert (kg/m2/a)' ]).fillna(0.0)

counter = np.zeros(int(basins['basins'].max())+1)

for i_shelf in range(1,length):
        basin_id = basin_shelf[i_shelf]
        if basin_id < 100: # zero only for summed up values in table.. 
                print( basin_id, ice_shelf_name[i_shelf])
                PaoloData.loc[basin_id,'BMR (Gt/yr)']  = PaoloData.loc[basin_id,'BMR (Gt/yr)'] + df.loc[i_shelf,'BMR'] #Gt/yr
                PaoloData.loc[basin_id,'Area (km^2)']  = PaoloData.loc[basin_id,'Area (km^2)'] +  df.loc[i_shelf, 'Area'] # km^2
                PaoloData.loc[basin_id,'BMR uncert (Gt/yr)']  = PaoloData.loc[basin_id,'BMR uncert (Gt/yr)'] + df.loc[i_shelf,'BMR err']**2 # Gt/yr
                counter[int(basin_id)] = counter[int(basin_id)] + 1 

for basin_id in range(int(basins['basins'].max())+1):
    try:
        PaoloData.loc[basin_id,'BMR uncert (Gt/yr)'] = np.sqrt(PaoloData.loc[basin_id,'BMR uncert (Gt/yr)'])/counter[int(basin_id)]
    except:
        print('ISSUE', basin_id)
# ice equivalent, m/a
PaoloData['Average BMR (kg/m2/a)'] = PaoloData['BMR (Gt/yr)']*1e12/(PaoloData['Area (km^2)']*1e6)#/ice_density 
PaoloData['Average BMR uncert (kg/m2/a)'] = PaoloData['BMR uncert (Gt/yr)']*1e12/(PaoloData['Area (km^2)']*1e6)#/ice_density

PaoloData = PaoloData.replace(0.0,np.nan)

PaoloData

13.0 Larsen E
13.0 Larsen D
12.0 Larsen C
12.0 Larsen B
11.0 George VI
11.0 Wilkins
11.0 Bach
11.0 Stange
10.0 Venable
10.0 Abbot
9.0 Cosgrove
9.0 Pine Island
9.0 Thwaites
9.0 Thwaites Calved
9.0 Crosson
9.0 Dotson
8.0 Getz
8.0 Nickerson
7.0 Sulzberger
7.0 Ross West
7.0 Ross East
6.0 Drygalski
6.0 Nansen
6.0 Mariner
6.0 Rennick
5.0 Cook
5.0 Ninnis
5.0 Mertz
5.0 Dibble
4.0 Holmes
4.0 Moscow University
4.0 Totten
3.0 Conger Glenzer
3.0 Tracy/Tremenchus
3.0 Shackleton
3.0 West
3.0 Publications
2.0 Amery
1.0 Prince Harald
0.0 Baudouin
0.0 Borchgrevink
0.0 Lazarev
0.0 Nivl
0.0 Vigrid
0.0 Fimbul
0.0 Jelbart
15.0 Atka
15.0 Ekström
15.0 Quar
15.0 Riiser-Larsen
15.0 Brunt Stancomb
14.0 Filchner

,BMR (Gt/yr),Area (km^2),BMR uncert (Gt/yr),Average BMR (kg/m2/a),Average BMR uncert (kg/m2/a)
0,39.850576,124527.1,1.119366,320.015291,8.988933
1,3.301475,5455.0,1.50067,605.22,275.1
2,22.30045,60797.3,13.38027,366.8,220.08
3,52.685536,49115.8,1.532418,1072.679998,31.200104
4,85.776519,14503.0,1.589851,5914.398351,109.622202
5,20.795532,12576.2,0.591787,1653.562411,47.056075
6,11.458845,10172.4,0.440695,1126.46424,43.3226
7,40.053079,492397.9,12.043937,81.342912,24.459765
8,124.962888,39118.8,5.157949,3194.44583,131.853447
9,258.871849,23007.0,5.435619,11251.873307,236.25934
10,61.481957,32506.7,2.61239,1891.362607,80.364677
11,97.333692,48644.5,1.629882,2000.918751,33.50599
12,23.611426,49594.6,4.371191,476.088644,88.138447
13,15.302281,23761.6,2.0898,643.992016,87.948615
14,12.79109,99634.6,18.272986,128.38,183.4
15,26.691859,90046.6,4.15561,296.42273,46.149548

In [50]:
PaoloData.to_csv(data_path+'Melt_Rate_Observations/Paolo23/PaoloData_imbie2.csv')

In [51]:
pd.read_csv(data_path+'Melt_Rate_Observations/Paolo23/PaoloData_imbie2.csv', index_col=0)

,BMR (Gt/yr),Area (km^2),BMR uncert (Gt/yr),Average BMR (kg/m2/a),Average BMR uncert (kg/m2/a)
0,39.850576,124527.1,1.119366,320.015291,8.988933
1,3.301475,5455.0,1.500670,605.220000,275.100000
2,22.300450,60797.3,13.380270,366.800000,220.080000
3,52.685536,49115.8,1.532418,1072.679998,31.200104
4,85.776519,14503.0,1.589851,5914.398351,109.622202
5,20.795532,12576.2,0.591787,1653.562411,47.056075
6,11.458845,10172.4,0.440695,1126.464240,43.322600
7,40.053079,492397.9,12.043937,81.342912,24.459765
8,124.962888,39118.8,5.157949,3194.445830,131.853447
9,258.871849,23007.0,5.435619,11251.873307,236.259340
10,61.481957,32506.7,2.612390,1891.362607,80.364677
11,97.333692,48644.5,1.629882,2000.918751,33.505990
12,23.611426,49594.6,4.371191,476.088644,88.138447
13,15.302281,23761.6,2.089800,643.992016,87.948615
14,12.791090,99634.6,18.272986,128.380000,183.400000
15,26.691859,90046.6,4.155610,296.422730,46.149548

# Create combined estimate with Paolo melt and Adusumilli uncertainty

In [52]:
#dfR = pd.read_csv('Rignot12/RignotData_imbie2.csv', index_col=0)
AdusumilliData = pd.read_csv(data_path+'Melt_Rate_Observations/Adusumilli20/AdusumilliData_imbie2.csv', index_col=0)

In [53]:
PaoloData['BMR uncert (Gt/yr)'] < AdusumilliData['BMR uncert (Gt/yr)']

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
Name: BMR uncert (Gt/yr), dtype: bool

In [54]:
MeltData = PaoloData.copy(deep=True)

In [55]:
MeltData['BMR uncert (Gt/yr)'] = AdusumilliData['BMR uncert (Gt/yr)']

In [56]:
MeltData['Average BMR uncert (kg/m2/a)'] = AdusumilliData['Average BMR uncert (m/a)']*ice_density_adusumilli

In [57]:
MeltData.to_csv(data_path+'Melt_Rate_Observations/Paolo23/Melt_Paolo_Err_Adusumilli_imbie2.csv')